# Sabina Alejandra Castillo Trujillo

### Ejercicio 1: 

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [2]:
mat=1804029
nom="Sabina Castillo "
print(nom + str(mat))

Sabina Castillo 1804029

### Ejercicio 2:

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
a=int(input("Introduzca un número: "))
b=int(input("Introduzca otro número: "))

print("Suma: ",a+b)
print("Resta: ",a-b)
print("Multiplicación: ",a*b)
print("División: ",a/b)
print("Exponente: ",a**b)

Introduzca un número: 5
Introduzca otro número: 9
Suma:  14
Resta:  -4
Multiplicación:  45
División:  0.5555555555555556
Exponente:  1953125

### Ejercicio 3: 

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [7]:
lista=[i*3 for i in range(1,11)]
lista

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [8]:
def sumar(lista):
    suma=0
    for i in range(len(lista)):
        suma=suma+lista[i]
    return suma

In [9]:
sumar(lista)

165

### Ejercicio 4

- Con una función de if else, revisar si un número es par o es impar.
- Con una función de if else, revisar si un número es primo o no.

In [13]:
a = int(input("Introduzca un número: "))

if a%2==0:
    print("El número es par")
else:
    print("El número es impar")

Introduzca un número: 431
El número es impar

In [31]:
a = int(input("Introduzca un número: "))

raiz=int(a**.5)
primo=True
for i in range(2,raiz+1):
    if a%i==0:
        print("No es número primo")
        primo=False
        break
if primo==True:
    print("Es número primo")

Introduzca un número: 29
Es número primo

### Ejercicio 5

Utilizando diferentes clases en python, crea una calculadora con los operadores  básicos de suma, resta, multiplicación, división, y exponente.

In [45]:
def calcu1(a,b): #usando diccionario
    suma=a+b
    resta=a-b
    multi=a*b
    div=a/b
    e=a**b
    return {"Suma":suma,"Resta":resta,"Multiplicación":multi,"División":div,"Exponente":e}

In [46]:
calcu1(5,6)

{'Suma': 11,
 'Resta': -1,
 'Multiplicación': 30,
 'División': 0.8333333333333334,
 'Exponente': 15625}

In [10]:
import pandas as pd
def calcu2(a,b): #usando dataframe
    suma=a+b
    resta=a-b
    multi=a*b
    div=a/b
    e=a**b
    return pd.DataFrame([suma,resta,multi,div,e],index=["Suma","Resta","Multiplicación","División","Exponente"],columns=["Resultados"])

In [11]:
calcu2(8,10)

                  Resultados
Suma            1.800000e+01
Resta          -2.000000e+00
Multiplicación  8.000000e+01
División        8.000000e-01
Exponente       1.073742e+09

## Ejercicios con estructuras básicas de python.

#### Tuplas

- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [54]:
flot=4.789
inte=59
bol=True
comp=4+3j

In [55]:
print(type(flot))
print(type(inte))
print(type(bol))
print(type(comp))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>


- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [58]:
tupla=(2,56,7,65,98,23,12,87,9,78)

print("Primer valor: ",tupla[0])
print("Último valor: ",tupla[-1])

Primer valor:  2
Último valor:  78

- Añadir 3 valores de string a la tupla.

In [65]:
tupla+("hola","cómo","estás")

(2, 56, 7, 65, 98, 23, 12, 87, 9, 78, 'hola', 'cómo', 'estás')

- Verificar si una variable existe dentro de la tupla.

In [66]:
98 in tupla

True

In [67]:
"Sabina" in tupla

False

#### Listas

- Crear una lista con 40 elementos aleatorios enteros.

In [12]:
import random as r
lista=[r.randint(1, 100) for i in range(40)]
lista

[67,
 78,
 14,
 14,
 11,
 35,
 18,
 3,
 26,
 67,
 54,
 2,
 6,
 41,
 91,
 13,
 54,
 74,
 94,
 8,
 36,
 61,
 90,
 97,
 91,
 73,
 98,
 50,
 4,
 63,
 36,
 49,
 30,
 3,
 8,
 84,
 11,
 83,
 5,
 10]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [13]:
def par_imp(lista):
    par=[]
    impar=[]
    for i in range(len(lista)):
        if lista[i]%2==0:
            par.append(lista[i])
        else:
            impar.append(lista[i])
    return par,impar

In [14]:
par,impar=par_imp(lista)
print("Números pares: ",par)
print("Números impares: ",impar)

Números pares:  [78, 14, 14, 18, 26, 54, 2, 6, 54, 74, 94, 8, 36, 90, 98, 50, 4, 36, 30, 8, 84, 10]
Números impares:  [67, 11, 35, 3, 67, 41, 91, 13, 61, 97, 91, 73, 63, 49, 3, 11, 83, 5]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [15]:
p=len(par)
i=len(impar)
print("Cantidad de números pares: ",p)
print("Cantidad de números impares: ",i)

Cantidad de números pares:  22
Cantidad de números impares:  18

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [16]:
par.sort(reverse=True)
par

[98,
 94,
 90,
 84,
 78,
 74,
 54,
 54,
 50,
 36,
 36,
 30,
 26,
 18,
 14,
 14,
 10,
 8,
 8,
 6,
 4,
 2]

In [17]:
impar.sort()
impar

[3, 3, 5, 11, 11, 13, 35, 41, 49, 61, 63, 67, 67, 73, 83, 91, 91, 97]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [18]:
lista.insert(0,101)
lista

[101,
 67,
 78,
 14,
 14,
 11,
 35,
 18,
 3,
 26,
 67,
 54,
 2,
 6,
 41,
 91,
 13,
 54,
 74,
 94,
 8,
 36,
 61,
 90,
 97,
 91,
 73,
 98,
 50,
 4,
 63,
 36,
 49,
 30,
 3,
 8,
 84,
 11,
 83,
 5,
 10]

In [19]:
lista2=[40,88,12]
lista.extend(lista2)
lista

[101,
 67,
 78,
 14,
 14,
 11,
 35,
 18,
 3,
 26,
 67,
 54,
 2,
 6,
 41,
 91,
 13,
 54,
 74,
 94,
 8,
 36,
 61,
 90,
 97,
 91,
 73,
 98,
 50,
 4,
 63,
 36,
 49,
 30,
 3,
 8,
 84,
 11,
 83,
 5,
 10,
 40,
 88,
 12]

In [20]:
lista.reverse()
lista

[12,
 88,
 40,
 10,
 5,
 83,
 11,
 84,
 8,
 3,
 30,
 49,
 36,
 63,
 4,
 50,
 98,
 73,
 91,
 97,
 90,
 61,
 36,
 8,
 94,
 74,
 54,
 13,
 91,
 41,
 6,
 2,
 54,
 67,
 26,
 3,
 18,
 35,
 11,
 14,
 14,
 78,
 67,
 101]

In [22]:
lista.index(26)

34

#### Diccionarios

- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [123]:
dic={"Victor":20,"Rodrigo":9,"Valeria":15,"Anahi":23,"María":45,"Ramón":21}
dic

{'Victor': 20,
 'Rodrigo': 9,
 'Valeria': 15,
 'Anahi': 23,
 'María': 45,
 'Ramón': 21}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [140]:
edad=[i for i in dic.values()]
edad.sort()
edad

[9, 15, 20, 21, 23, 45]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [141]:
for i in dic:
    print(i)

Victor
Rodrigo
Valeria
Anahi
María
Ramón

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [142]:
dic["Susana"]=8
dic["Celia"]=75
dic

{'Victor': 20,
 'Rodrigo': 9,
 'Valeria': 15,
 'Anahi': 23,
 'María': 45,
 'Ramón': 21,
 'Susana': 8,
 'Celia': 75}

#### Sets

- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [160]:
s={r.randint(1,25) for i in range(100)}
s

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

- Comprueba la longitud de tu set.

In [161]:
len(s)

25

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [163]:
l=[r.randint(1,10) for i in range(5)]
l

[6, 6, 5, 6, 2]

In [164]:
for i in range(len(l)):
    print("¿",l[i]," está en el set? ",l[i] in s)

¿ 6  está en el set?  True
¿ 6  está en el set?  True
¿ 5  está en el set?  True
¿ 6  está en el set?  True
¿ 2  está en el set?  True